<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

<body>

  <%- include ('../partials/messages') %>
  <p>User <%= user.username %></p>
  <% for (let index = 0; index < report.reports.length; index++) { %>
    <p>Report Reason: <%= report.reports[index].reason %></p>
    <% if(report.reports[index].comment != ''){%>
    <p>Comment: <%= report.reports[index].comment%></p>
    <%}%>
      <br>
  <%}%>
</body>

</html>
