<html>
<head>
  <%- include ('../partials/messages') %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
  <p>suspend <%=suspendUser.username%>?</p>
  <form action="suspend/<%=suspendUser._id%>" method="post">
  <button input type="submit">suspend</button>
  </form>
</html>
