
<% if(typeof errors!= 'undefined') { %>
      <%    errors.forEach(function(error){ %>
                  <p> <%= error.msg %></p>
      <%    })        %>
      <% } %>

<% if(error == '') { %>
      <p><%= success_msg %> </p>
      <% }%>

<% if(error != '') { %>
      <p><%= error_msg %> </p>
      <% } %>

<% if(error != '') { %>
      <p><%= error %> </p>
      <% } %>
