<h1>Change Password</h1>
<p>hi <%= user.name %></p></p>
<div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" ></div>
<div class="form-group"><input class="form-control" type="password" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" ></div>
