<html>
<%- include ('./partials/messages') %>
<h1>Hello, this is the search page!</h1>

<% if (errors.length == 0) { %>
    <% for (let index = 0; index < user.length; index++) { %>
       <br> <a type = "button" href = "/profile/<%= user[index].username %>" ><%= user[index].username %></a>
    <% } %>
<% } %>

</html>
