<html>

<head>
  <%- include ('./partials/messages') %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<h1>Welcome!</h1>
<p> <%= verify.userID.username %> you have successfully verified your email </p>

</html>
